*{
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	text-decoration: none !important;
}

body{
	text-decoration: none !important;
}
/*============
	Font
============*/
h1,h2,h3,h4,h5,h6{
	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;

}
span{
	font-size: 13px;
	font-weight: 500;
	font-family: 'Mulish', sans-serif;
}
p,.section_04 li{
	font-family: 'Mulish', sans-serif;
    line-height: 32px;
    font-size: 15px;
    color: var(--theme-paragraph-color);
	font-weight: 500;
	
}
.section_04 li {
    padding-left: 4rem !important;
    font-size: 15px;
    position: relative;
    padding: 5px 0px;
}
.section_04 li::before{
	content: "\f106";
	font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
   	margin-right: 10px;
    color: var(--theme-primary-color);
    font-size: 10px;
}

.mauris{
	font-family: 'Rajdhani', sans-serif;
	font-size: 18px;
	color: var(--theme-paragraph-color);
	font-weight: 500;

}

#scroll{
	position: fixed;
    right: 30px;
    bottom: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    z-index: 100;
    
}

/*
=============
After
=============*/

.after{
	position: relative;
}
.after::after{
	content: '';
    position: absolute;
    width: 42px;
    height: 3px;
    top: 100px;
    left: 2px;
    background: var(--theme-primary-color);
}
.after.stay::after{
	 top: 58px;
	 position: absolute;

}
.after.review::after{
	 top: 70px;
	 position: absolute;
	 left: 48%;
}

.active{
	position: relative!important;
} 
.active::after{
	content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    top: 40px;
    left: 9px;
    background: white;

}

.after.sec_02::after{
	left: 48%;
    top: 61px;
    position: absolute;
}


.after.test::after{
	position: absolute;
	top: 115px;
	left: 48%;
}

/*
=============
Color
=============*/
.paragraph{
	color: var(--theme-paragraph-color);
}

.darkblue{
	color: var(--theme-darkblue-color);
}
.light{
	color: var(--theme-light-color);
}

.primary{
	color: var(--theme-primary-color);
}
.gray{
	color: var(--theme-gray-color);
}
.white{
	color: var(--theme-white-color);
}


.bg-darkblue{
	background: var(--theme-darkblue-color);
}
.bg-light{
	background: var(--theme-light-color)!important;
}

.bg-primary{
	background: var(--theme-primary-color) !important;
}
.bg-gray{
	background: var(--theme-gray-color);
}
.bg-white{
	background: var(--theme-white-color);
}


/*============
Button
============*/

 .btn{
	border-radius: 0px !important;
	padding: 10px 25px !important;
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	font-size: 15px;
}
.btn:hover{
	filter: brightness(120%);
	color: white;
}

.btn.view{
	padding: 20px 35px !important;
	font-size: 17px;
	box-shadow: 0 2rem 4rem rgb(0 0 0 / 9%)!important;
}




/*============
Header
============*/

.nav-on-banner{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    z-index: 999;

}
.top-header{
	font-weight: 600;ssss
	font-size: 13px;
}


a.nav-link{
	color: var(--theme-white-color)!important;
}
.nav-item{
	
	margin: 10px;
}


/*============
slider
============*/

.slider img{
	
	width: 170px !important;
	height: 120px;


}


/*============
section_01
============*/
h1{
	font-size: 34px;
}

/*============
section_02
============*/

section.section_02.pt-5.mt-5 {
    padding-top: 5rem!important;
    margin-top: 6rem!important;
} 

.row.pt-4.mt-4.pb-5 {
    padding-bottom: 7rem!important;
} 
h1{
	font-size: 40px;
}
.section_02{
	background: var(--theme-light-color);
}

.section_02 i{
	
	font-size: 30px;
    padding: 0px 6px;
}


/*============
section_03
============*/
.section_03 img{
	width: 50px;
	height: 50px;
}
.section_03 .box:hover{
	box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .10)!important;
	transition: all 300ms;
}




/*============
section_04
============*/
.section_04 .mx-auto.text-center {
    padding-top: 2rem!important;
}
section.section_04.bg-light.pt-5.mt-5.pb-5{
    padding-bottom: 5rem!important;
}


/*============
section_05
============*/
.section_05 i.fas.fa-star {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    color: var(--theme-primary-color);
}
.section_05 .box{
	box-shadow: 0 2rem 4rem rgb(0 0 0 / 9%)!important;
	transition: all 300ms;
	margin: 4px;
}
.section_05 .box.middle{

	 margin-top: -60px;
}



/*============
section_06
============*/

.section_06 ul li a{
	text-decoration: none;
    font-size: 14px;
    font-family: 'Mulish', sans-serif;
    color: var(--theme-paragraph-color);
}
.section_06 i{
	color: #6d7175 ;
	margin-left: 7px;
}
.section_06 ul li{
	 padding: 8px 0px;
	 margin-left: 9px;
}
.section_06  .legal{
	margin-left: -42px;
}
.section_06  .learn{
	margin-left: 13px;
} 

.section_06 h4{
	color:var(--theme-darkblue-color);
}
.section_06  .margin-top {
   margin-top: -13px;
}

.section_06 i:hover{
	color: var(--theme-primary-color);
}


/*============
footer
============*/

footer a:hover{
	color: #fff;
}
footer a{
	text-decoration: none !important;
}



/*============
Responsive
============*/
@media only screen and (max-width: 991.98px){
	.header-transparent{
		background: black;

	}
	.top-header {
		display: none;
	}
	.nav-on-banner{
		position: static!important;
	}

	
	.section_05 .box.middle{

	 margin-top: 0px;
	}
	.bg-25, .bg-26{
		margin-left: 90px;
	}

	.main-header{
		padding: 25px 0px 25px 0px;
	}

	.main-header .navbar-toggler i{
		font-size: 50px;
	}
}
